@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

:root {
  --font-primary: "Roboto", sans-serif;
  --color-background: #e3e3e3;
  --color-accent: #05ac6a;
  --color-disabled: #6f6f6f;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #f00;
  --container-width: 1024px;
}

*:not(svg *) {
  all: unset;
  display: revert;
}

*:focus-visible {
  outline: revert;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  font-size: 22px;
  line-height: normal;
  font-weight: 600;
  color: var(--color-black);
}

.container {
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h1 {
  font-size: 42px;
  font-weight: 600;
}
